*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
}

  body{
      background-color: var(--primary-color);
      font-family: "Poppins", sans-serif;
  }
 
  :root{
    --primary-color:  #edf2fc;
    --secondary-color:  #212121;
  }
  .dark-theme{
   --primary-color: #000106;
    --secondary-color:  #fff;
  }
  
  #icon{
   object-fit: contain;
   width: 5vw;
   height: 5vh;
   display: flex;
   margin-left: 15px;
   cursor: pointer;
   z-index: 1;
  }

   .banner{
     background-color: aliceblue;
     display: flex;
     position: fixed;
     top: 0%;
     width: 100%;
     height: 80px;
 }
 
 .head{
     padding-top: 0px;
     margin-top: 0px;
     position: absolute;
     top: 0;
     left:0;
     width: 100%;
     padding: 0px 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 100;
 }
 
 .pic{
     margin-top: 2px;
     display: flex;
     z-index: 10;
     filter: contrast(2);
     filter: saturate(3);
     cursor: pointer;
     width: 5vw;
     height: 10.5vh;
 }

 .search {
   margin-left: 70px;
   display: flex;
   position: absolute;
   align-items: center;
   background-color: white;
   border: 3px inset darkcyan;
   color: black;
   padding: 5px;
   border-radius: 50px;
   z-index: 10;
 }
 .search :is(input, button) {
   background: transparent;
   color: black;
   font-size: 1rem;
   border: none;
   outline: none;
 }
 .search__input {
   width: 0;
   transition: width 0.5s;
 }
 .search__button {
   display: grid;
   place-items: center;
   width: 2vw;
   height: 3vh;
   cursor: pointer;
   transition: color 0.25s;
 }
 .search__button:hover {
   color: rgb(163, 162, 162);
 }
 .search:focus-within input {
   width: 17vw;
 }
 ::placeholder {
   font-size: .9rem;
   font-family: "Poppins", sans-serif;
   color: black;
 }

   nav {
    align-items: center;
    display: flex;
    position: relative;
 }

 nav .left-links a{
     position: relative;
     font-size: 1.2rem;
     color: black;
     font-family: "Overlock", sans-serif;
     font-weight: 700;
     text-decoration: none;
     margin-right: 10px;
 }

 nav .left-links a:hover{
     color: orangered;
 }
 
 nav .left-links a::before{
    margin-bottom: 2px;
    content:"";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 4px;
    background-image: linear-gradient(to right, snow, orangered);
    transition: .3s;
 }
 
 nav .left-links a:hover::before{
    width: 100%;
 }
 
 nav .left-links i{
    font-size: 1.4rem;
    color: goldenrod;
 }

 nav .left-links i:hover{
  color: darkblue;
}

nav .right-links i{
  font-size: 2rem;
}

.carte{
  display: flex;
  position: relative;
  top: 5px;
  right: 1%;
}

.tarc{
  max-width: 15vw;
  height: 7vh;
}

.color-change:visited i{
  color: darkcyan;
}

.color-drop:visited i{
  color: goldenrod;
}

.dropdown-content .color-drop i:hover{
  color: darkblue;
}

.dropdown-content .color-drop i{
  font-size: 1.1rem;
}

nav .right-links i:hover{
  color: black;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  margin: 0; 
}

.dropbtn{
  background: none;
  border: none;
 }

 .navbar a:hover, .dropdown:hover .dropbtn {
  background-color: inherit;
}

.dropdown-content {
  font-size: 1rem;
  font-family: "Overlock", sans-serif;
  font-weight: 700;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

 .banner{
     position: relative;
     box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.1) insert;
   }
   .banner:before,
   .banner:after{
     content:'';
     position: absolute;
     z-index:-1;
     box-shadow: 0 0 5px black;
     top: 0%;
     bottom: 0%;
     left: 0%;
     right: 0%;
   }

   .chat-bar-collapsible {
    position: fixed;
    z-index: 5;
    bottom: 0;
    right: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .collapsible {
    background-color: orangered;
    color: aliceblue;
    cursor: pointer;
    padding: 13px;
    width: 300px;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 10px 10px 0px 0px;
    border: 3px double snow;
    border-bottom: none;
  }
  
  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
  
  .full-chat-block {
    width: 300px;
    background: white;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    transition: max-height 0.2s ease-out;
  }
  
  .outer-container {
    min-height: 400px;
    bottom: 0%;
    position: relative;
  }
  
  .chat-container {
    max-height: 400px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
  }
  
  .chat-container::-webkit-scrollbar {
    display: none;
  }
  
  .chat-bar-input-block {
    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 10px;
  }
  
  h5{
    font-family: "Roboto", sans-serif;
   font-weight: 500;
   letter-spacing: 1px;
  }
  
  .chat-bar-icons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    float: right;
    font-size: 20px;
  }
  
  #chat-icon:hover {
    opacity: .7;
  }
  
  /* Chat bubbles */
  
  #userInput {
    width: 75%;
  }
  
  .input-box {
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: black;
    background-color: white;
    outline: none
  }
  
  .input-box::placeholder {
    color: gray;
    font-size: .8rem;
  }
  
  .userText {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-align: right;
    clear: both;
  }
  
  .userText span {
    line-height: 1.5em;
    display: inline-block;
    background: orangered;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .5s forwards
  }
  
  .botText {
    color: #000;
    font-family: Helvetica;
    font-size: 16px;
    text-align: left;
  }
  
  .botText span {
    line-height: 1.5em;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards
  }
  
  @keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
  }

  .main{
    display: flex;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul{
    display: flex;
    margin-top: 100px;
}

ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul li i{
    font-size: 3rem;
    color: var(--secondary-color);
    margin: 0 60px;
}

ul li .text{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--secondary-color);
}

/* Progress Div Css  */

ul li .progress{
    width: 40px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    margin: 15px 0;
    display: grid;
    place-items: center;
    color: var(--primary-color);
    position: relative;
    cursor: pointer;
}
.progress::after{
    content: " ";
    position: absolute;
    width: 150px;
    height: 10px;
    z-index: -1;
    background-color: var(--secondary-color);
    right: 30px;
}
.one::after{
    width: 0;
    height: 0;
}
ul li .progress .uil{
    display: none;
    margin-left: 5px;
}
ul li .progress p{
    font-size: 1.5rem;
}

/* Active Css  */

ul li .active{
    background-color: darkred;
    display: grid;
    place-items: center;
}
li .active::after{
    background-color: darkred;
}
ul li .active p{
    display: none;
}
ul li .active .uil{
    font-size: 2rem;
    color: white;
    font-weight: bold;
    display: flex;
}

/* Responsive Css  */

@media (max-width: 980px) {
    ul{
        flex-direction: column;
    }
    ul li{
        flex-direction: row;
    }
    ul li .progress{
        margin: 0 30px;
    }
    .progress::after{
        width: 5px;
        height: 55px;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
    .one::after{
        height: 0;
    }
    ul li .icon{
        margin: 15px 0;
    }
}

@media (max-width:600px) {
    .head .head_1{
        font-size: 24px;
    }
    .head .head_2{
        font-size: 16px;
    }
}

  @media screen and (max-width:600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }
    .chat-bar-collapsible {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .collapsible {
        width: 100%;
        border: 0px;
        border-top: 3px solid white;
        border-radius: 0px;
    }
  }
  
  @media only screen and (max-width:767px){
    /*CSS for mobile devices*/
  }
  @media only screen and (min-width:768px)and(max-width:1023px){
    /*CSS for tablet devices*/
  }
  @media only screen and (min-width:1024px)and(max-width:1439px){
    /*CSS for laptop devices*/
  }
  @media only screen and (min-width:1440px){
    /*CSS for desktop devices*/
  }
  
